:root {
}

.map-tiles {
    position: absolute;
    align-self: center;
    width: 90%;
    height: 95%;
    overflow: hidden;
}

.map-content {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    transform-origin: center center;
}

.row {
    position: relative;
    flex-direction: row;
    height: 80px;
    margin-top: -1px;
    flex-shrink: 0;
}

.rc-icon {
    position: absolute;
    height: 100%;
    -unity-background-scale-mode: scale-to-fit;
}

.fog-grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fog-tile {
    position: absolute;
    opacity: 1;
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(80, 80, 80);
}

.fog-tile.fog-fade{
    transition-property: opacity;
    transition-duration: 0.25s;
}

.fog-tile.revealed {
    opacity: 0;
}

.power-up-icon {
    width: 200px;
    aspect-ratio: 1;
    -unity-background-scale-mode: scale-to-fit;
}

.power-up-column {
    flex-direction: column-reverse;
    width: 50%;
}

.left-column {
    align-items: flex-start;
}

.right-column {
    align-items: flex-end;
}

.power-up-area {
    position: absolute;
    width: 90%;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    top: 300px;
}
