:root {
}

.row {
    flex-direction: row;
    height: 80px;
    margin-top: -1px;
}

.rc-icon {
    height: 100%;
    -unity-background-scale-mode: scale-to-fit;
    width: 50%;
}

.fork {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/Tile_RC_Fork.png?fileID=2800000&guid=df7841bb30d224d7b8a3f9ca877785da&type=3#Tile_RC_Fork");
    width: 100%;
}

.junction {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/Tile_RC_Junction.png?fileID=2800000&guid=6eb2982864cb042dc9b39d09fe73331a&type=3#Tile_RC_Junction");
    width: 100%;
}

.map-tiles {
    flex-grow: 0;
    height: 95%;
    position: absolute;
    width: 90%;
    align-self: center;
    flex-direction: column-reverse;
    justify-content: center;
}

.fog-grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fog-tile {
    position: absolute;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.25s;
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(80, 80, 80);
}

.fog-tile.revealed {
    opacity: 0;
}

.power-up-icon {
    width: 200px;
    aspect-ratio: 1;
    -unity-background-scale-mode: scale-to-fit;
}

.power-up-column {
    flex-direction: column-reverse;
    width: 50%;
}

.left-column {
    align-items: flex-start;
}

.right-column {
    align-items: flex-end;
}

.power-up-area {
    position: absolute;
    width: 90%;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    top: 300px;
}
