.top-bar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4px 12px;
}

.map-bar-container {
    opacity: 1;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    max-width: 90%;
}

.map-bar-container.hide {
    opacity: 0;
}

.marker-row {
    position: relative;
    width: 90%;
    height: 80px;
    align-self: center;
    flex-direction: column;
    overflow: visible;
}

.team-marker {
    position: absolute;
    top: -80px;
    left: 0%;
    width: 85px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    translate: -42px 0;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/TopBar_MarkerWhite.png?fileID=2800000&guid=81b9322e3e59447d3ac4697a125504da&type=3#TopBar_MarkerWhite");
    -unity-background-scale-mode: scale-to-fit;
}

.team-marker-0 {
    -unity-background-image-tint-color: rgb(0, 0, 255);
}

.team-marker-1 {
    -unity-background-image-tint-color: rgb(255, 0, 0);
}

.team-marker-2 {
    -unity-background-image-tint-color: rgb(0, 255, 0);
}

.team-marker-3 {
    -unity-background-image-tint-color: rgb(255, 255, 0);
}

.team-marker-4 {
    -unity-background-image-tint-color: rgb(255, 0, 255);
}

.team-marker-5 {
    -unity-background-image-tint-color: rgb(0, 255, 255);
}

.team-marker-6 {
    -unity-background-image-tint-color: rgb(68, 0, 255);
}

.team-marker-7 {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.map-bar {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/TopBar_Road.png?fileID=2800000&guid=e3653408c861d4475afcfc7e419052eb&type=3#TopBar_Road");
    -unity-background-scale-mode: scale-to-fit;
    position: relative;
    top: 50%;
    height: 108px;
}

.bar-cap {
    width: 10px;
    height: 120px;
    background-color: rgb(220, 220, 220);
    border-radius: 1px;
}

.bar-track {
    flex-grow: 1;
    height: 8px;
    background-color: rgb(200, 200, 200);
}

.team-icon {
    width: 64px;
    height: 64px;
    top: 10px;
    border-width: 2px;
    border-color: white;
    border-radius: 32px;
    flex-shrink: 0;
    -unity-background-scale-mode: scale-to-fit;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.team-needle {
    width: 4px;
    flex-grow: 1;
    background-color: white;
    align-self: center;
}

.my-team {
    scale: 1.5 1.5;
    translate: -42px -25%;
}
