:root {
}

.lobby-root {
}

.lobby-background {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.title-container {
    align-items: center;
    max-width: 80%;
    align-self: center;
}

.title-label {
    white-space: pre-wrap;
    font-size: 150px;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
}

.title-label .hosting {
    label: hosting;
}

.lobby-info-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;
}

.menu-button {
    width: 80%;
    height: 180px;
    border-radius: 40px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.15);
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 150px;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 150px;
}

.menu-field {
    width: 80%;
    height: 100px;
    border-radius: 40px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.15);
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 100px;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 100px;
    -unity-text-align: middle-center;
}

.lobby-info-label {
    white-space: pre-wrap;
    font-size: 80px;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 80px;
    margin-bottom: 20px;
}

.back-button {
    align-self: center;
    position: absolute;
    bottom: 0;
}

.ready-label {
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    -unity-text-align: upper-center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 191, 99);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 80px;
}

.ready {
    flex-grow: 0;
    width: 25%;
}

.player-name {
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 80px;
    color: rgb(255, 255, 255);
    width: 50%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-left: 20px;
}

.player-row {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.players-info {
    flex-grow: 1;
    width: 60%;
}

.header-text {
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.player-team {
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 80px;
    color: rgb(255, 255, 255);
    width: 10%;
    -unity-text-align: upper-center;
}

.player-in-team {
    background-color: rgba(255, 255, 255, 0.15);
}

.players-scroll-view {
    width: 100%;
    height: 650px;
    flex-grow: 0;
    flex-shrink: 0;
}

.players-scroll-view .unity-scroll-view__horizontal-scroller {
    display: none;
}

.players-scroll-view .unity-scroll-view__vertical-scroller {
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    height: 110%;
    top: -5%;
}

.players-scroll-view .unity-scroller__low-button,
.players-scroll-view .unity-scroller__high-button {
    display: none;
}

.players-scroll-view .unity-scroller__slider {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border-width: 0;
}

.players-scroll-view .unity-dragger {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 0;
    width: 12px;
    margin-left: 4px;
    margin-right: 4px;
}
