:root {
}

.title-root {
}

.title-background {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.title-container {
    align-items: center;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 200px;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-left;
    white-space: pre-wrap;
    -unity-font-style: normal;
}

.button-container {
    flex-direction: column;
    margin-top: 50px;
    position: absolute;
    align-self: center;
    top: 50%;
    width: 100%;
    align-items: center;
}

.menu-button {
    width: 80%;
    height: 200px;
    border-radius: 40px;
    border-width: 4px;
    border-color: rgba(255, 255, 255, 0.15);
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 100px;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 150px;
}

.play {
    height: 500px;
    -unity-text-auto-size: best-fit 10px 250px;
    -unity-text-generator: advanced;
}

.settings-container {
    flex-grow: 1;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
}
