:root {
}

.uiroot {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-area {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.drift-control {
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.steer-control {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.editor-debug {
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
}

.mobile-portrait {
    min-height: 600px;
}

.steer-joystick {
    height: 300px;
    width: auto;
    aspect-ratio: 1;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/__LocalPackages/Joystick%20Pack/Sprites/All%20Axis%20Backgrounds/AllAxis_Outline.png?fileID=2800000&guid=5b56d9fa0e8bd6e409ed188db38a692c&type=3#AllAxis_Outline");
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-text-generator: advanced;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.drift-origin {
    display: none;
    position: absolute;
    background-image: url("project://database/Assets/__LocalPackages/Joystick%20Pack/Sprites/All%20Axis%20Backgrounds/AllAxis_Outline.png?fileID=2800000&guid=5b56d9fa0e8bd6e409ed188db38a692c&type=3#AllAxis_Outline");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: scale-to-fit;
    height: 60%;
    aspect-ratio: 1;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.24);
}

.drift-joystick {
    display: none;
    position: absolute;
    background-image: url("project://database/Assets/__LocalPackages/Joystick%20Pack/Sprites/All%20Axis%20Backgrounds/AllAxis_Outline.png?fileID=2800000&guid=5b56d9fa0e8bd6e409ed188db38a692c&type=3#AllAxis_Outline");
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: scale-to-fit;
    height: 60%;
    aspect-ratio: 1;
}

.upper-area {
    flex-grow: 1;
    min-width: 100%;
    align-items: center;
}

.lower-area {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.boost-control {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.boost-container {
    width: 135px;
    height: 250px;
    left: 150px;
    align-items: center;
    justify-content: flex-end;
}

.boost-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_BoostFill.png?fileID=2800000&guid=cad6cdf9c9b47459fb182996e871286a&type=3#HUD_BoostFill");
}

.overboost-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_OverBoostFill.png?fileID=2800000&guid=b9fc2571f65a34853b0d5106020b5c81&type=3#HUD_OverBoostFill");
}

.boost-button {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_BoostContainer.png?fileID=2800000&guid=208efc6f2b0fd421da3f6bf09dbf56ee&type=3#HUD_BoostContainer");
    background-color: rgba(188, 188, 188, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.feedback-button {
    -unity-background-scale-mode: scale-to-fit;
    aspect-ratio: 1;
}

.feedback-container {
    position: absolute;
    bottom: 100px;
    height: 170px;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
}

.thumb-down {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_ThumbDown.png?fileID=2800000&guid=26bd64ce7dcbf46b888ce0d0cbbd6b8f&type=3#HUD_ThumbDown");
}

.thumb-up {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_ThumbUp.png?fileID=2800000&guid=a48e068a7b0cf438593931eca6463803&type=3#HUD_ThumbUp");
}

.run-stop-button {
    position: absolute;
    right: 50px;
    width: 250px;
    height: 250px;
    background-color: rgba(188, 188, 188, 0);
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    color: rgb(255, 255, 255);
    font-size: 50px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: none;
}

.debug {
    display: flex;
}

.run-stop-button .toggled {
    background-color: rgb(61, 154, 80);
}
