.uiroot {
    width: 100%;
    height: 100%;
}

.content-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earlycommitment-container {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: scale, left, bottom, top;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}

.earlycommitment-label {
    height: 35%;
    border-radius: 40px;
    border-width: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 80px 300px;
    width: 80%;
}

.commitment-choice {
    width: 90%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.choice-arrow {
    width: 240px;
    height: 285px;
    padding: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    border-width: 1.5px;
    border-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    align-content: flex-end;
}

.commit-label {
    color: white;
    font-size: 380px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/ZingRust.ttf?fileID=12800000&guid=8fb97d298a61e46ae8116702da0d37bc&type=3#ZingRust");
    -unity-text-outline-width: 20px;
    text-shadow: 10px 10px 0 rgb(255, 254, 0);
    -unity-text-generator: advanced;
    -unity-text-auto-size: none;
    margin-right: 10%;
}

.commit-bar-mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.commit-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 285px;
    -unity-background-scale-mode: scale-to-fit;
}

.left-arrow {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_LeftArrow.png?fileID=2800000&guid=8cc4d4e79af03432aab4a2d88a213ca1&type=3#EarlyCommitment_LeftArrow");
}

.right-arrow {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_RightArrow.png?fileID=2800000&guid=4506c8a11158147889f97ef740e25090&type=3#EarlyCommitment_RightArrow");
}

.gauge-bar-left {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_LeftArrowFull.png?fileID=2800000&guid=4569d5a84595149b98d1e7470f1131b2&type=3#EarlyCommitment_LeftArrowFull");
}

.gauge-bar-right {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_RightArrowFull.png?fileID=2800000&guid=1bb82c271aae84c138adcd6e7c82884f&type=3#EarlyCommitment_RightArrowFull");
}

.boost-label {
    color: white;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/Edo_new.ttf?fileID=12800000&guid=7ef7c4949f3504cc4810fcd3922630c5&type=3#Edo_new");
    font-size: 60px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

.commit-label {
    color: white;
    font-size: 380px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Fonts/ZingRust.ttf?fileID=12800000&guid=8fb97d298a61e46ae8116702da0d37bc&type=3#ZingRust");
    -unity-text-outline-width: 20px;
    text-shadow: 10px 10px 0 rgb(255, 254, 0);
    -unity-text-generator: advanced;
    -unity-text-auto-size: none;
    margin-right: 10%;
}

.mobile-portrait {
    height: 50%;
    min-height: 1080px;
}

.mobile-landscape {
}
