:root {
}

.boost-control {
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.boost-container {
    left: 150px;
    align-items: center;
    justify-content: flex-end;
    aspect-ratio: 0.54;
    max-height: 200px;
}

.boost-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_BoostFill.png?fileID=2800000&guid=cad6cdf9c9b47459fb182996e871286a&type=3#HUD_BoostFill");
}

.overboost-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_OverBoostFill.png?fileID=2800000&guid=b9fc2571f65a34853b0d5106020b5c81&type=3#HUD_OverBoostFill");
}

.boost-button {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_BoostContainer.png?fileID=2800000&guid=208efc6f2b0fd421da3f6bf09dbf56ee&type=3#HUD_BoostContainer");
    background-color: rgba(188, 188, 188, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.choice-arrow {
    width: 240px;
    height: 285px;
    padding: 12px;
    border-radius: 12px;
    border-width: 1.5px;
    border-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    align-content: flex-end;
}

.commit-bar-mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.commit-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 285px;
    -unity-background-scale-mode: scale-to-fit;
}

.left-arrow {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_LeftArrow.png?fileID=2800000&guid=8cc4d4e79af03432aab4a2d88a213ca1&type=3#EarlyCommitment_LeftArrow");
}

.right-arrow {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_RightArrow.png?fileID=2800000&guid=4506c8a11158147889f97ef740e25090&type=3#EarlyCommitment_RightArrow");
}

.gauge-bar-left {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_LeftArrowFull.png?fileID=2800000&guid=4569d5a84595149b98d1e7470f1131b2&type=3#EarlyCommitment_LeftArrowFull");
}

.gauge-bar-right {
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/EarlyCommitment_RightArrowFull.png?fileID=2800000&guid=1bb82c271aae84c138adcd6e7c82884f&type=3#EarlyCommitment_RightArrowFull");
}
