:root {
}

.tile {
    width: 10%;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/HUD_Shotgun_MapOverlay.png?fileID=-2042570987&guid=298a30ae241b2482eb85572aa9a4506d&type=3#HUD_Shotgun_MapOverlay_0");
}

.tile-row {
    flex-direction: row;
    height: 5%;
}
