.top-bar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4px 12px;
}

.map-bar-container {
    opacity: 1;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    max-width: 90%;
}

.map-bar-container.hide {
    opacity: 0;
}

.marker-row {
    height: 80px;
    position: relative;
    width: 90%;
    flex-direction: column;
    align-self: center;
}

.team-marker {
    position: absolute;
    top: -80px;
    left: 0%;
    width: 85px;
    height: 120px;
    flex-direction: column;
    align-items: center;
    translate: -42px 0;
}

.team1-marker {
    flex-direction: column;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/TopBar_MarkerBlue.png?fileID=2800000&guid=fb065e4cd8075405a8860b2203b469ee&type=3#TopBar_MarkerBlue");
    -unity-background-scale-mode: scale-to-fit;
}

.team2-marker {
    flex-direction: column;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/TopBar_MarkerRed.png?fileID=2800000&guid=9a7c303ec08914941b817c035b128486&type=3#TopBar_MarkerRed");
    -unity-background-scale-mode: scale-to-fit;
}

.map-bar {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("project://database/Assets/BeMyShotgunSir/Demos/UI/Graphics/TopBar_Road.png?fileID=2800000&guid=e3653408c861d4475afcfc7e419052eb&type=3#TopBar_Road");
    -unity-background-scale-mode: scale-to-fit;
    position: relative;
    top: 50%;
    height: 108px;
}

.bar-cap {
    width: 10px;
    height: 120px;
    background-color: rgb(220, 220, 220);
    border-radius: 1px;
}

.bar-track {
    flex-grow: 1;
    height: 8px;
    background-color: rgb(200, 200, 200);
}

.team-icon {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    flex-shrink: 0;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    top: 10px;
}

.team1-icon {
    background-color: rgb(52, 152, 219);
}

.team2-icon {
    background-color: rgb(231, 76, 60);
}

.team-needle {
    width: 4px;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    align-self: center;
}

.my-team {
    scale: 1.5 1.5 1.5;
    translate: -42px -25%;
}
